.Search {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
  padding: 16px;
  border-color: #b1cc74;
  border-radius: 4px;
  max-width: 600px;
}

.Search h1 {
  font-size: 28px;
  font-weight: 200;
  line-height: 29px;
  margin: 0px;
  padding-bottom: 8px;
  color: #4e8098;
  text-decoration: solid;
}

.Search ul {
  margin: 0;
  padding: 0;
}

.Search li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}

.Search form {
  margin-bottom: 20px;
}

.Search .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  color: (rgb 33, 33, 33);
  margin-left: 10px;
  margin-right: 5px;
}

.Search .unit {
  position: relative;
  top: -34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin-left: 5px;
  color: #4e8098;
}

.Search .btn {
  color: white;
  background-color: #b1cc74;
  border-color: #b1cc74;
}
